body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.navbar {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #000, #444);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: orange;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.products, .about, .contact {
    padding: 50px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.contact input, .contact textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}